<footer class="site-footer">
  <div class="footer-content-wrapper">
    <div class="footer-column footer-tienda">
      <h4>Móviles</h4>
      <ul>
        <li class="sub-item-footer"><a routerLink="/productos/moviles/apple">- Apple</a></li>
        <li class="sub-item-footer"><a routerLink="/productos/moviles/google">- Google</a></li>
        <li class="sub-item-footer"><a routerLink="/productos/moviles/xiaomi">- Xiaomi</a></li>
        <li class="sub-item-footer"><a routerLink="/productos/moviles/huawei">- Huawei</a></li>
        <li class="sub-item-footer"><a routerLink="/productos/moviles/samsung">- Samsung</a></li>
        <li class="sub-item-footer"><a routerLink="/productos/moviles/motorola">- Motorola</a></li>
      </ul>
    </div>

    <div class="footer-column footer-accesorios">
      <h4>Accesorios</h4>
      <ul>
        <li class="sub-item-footer"><a routerLink="/productos/accesorios/cargador">- Cargadores</a></li>
        <li class="sub-item-footer"><a routerLink="/productos/accesorios/auriculares">- Auriculares</a></li>
        <li class="sub-item-footer"><a routerLink="/productos/accesorios/bateriaPortatil">- Baterías Portátiles</a></li>
      </ul>
    </div>

    <div class="footer-column footer-contacto-info">
      <h4>Contacto</h4>
      <p>
        Rúa do Príncipe, 123<br>
        36202 Vigo, Pontevedra<br>
        Galicia, España
      </p>
      <p>
        Teléfono: <a href="tel:+34986000000">+34 986 000 000</a><br>
        Email: <a href="mailto:info@tutiendaonline.es">info&#64;TechWorld.es</a>
      </p>
    </div>

    <div class="footer-column footer-legal">
      <h4>Legal</h4>
      <ul>
        <li><a routerLink="/terminos">Términos y Condiciones</a></li>
        <li><a routerLink="/privacidad">Política de Privacidad</a></li>
        <li><a routerLink="/cookies">Política de Cookies</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; {{ currentYear }} TechWorld. Todos los derechos reservados.</p>
  </div>
</footer>
